[submodule "aframe-jibniz"]
	path = aframe-jibniz
	url = https://github.com/AudioGroupCologne/aframe-jibniz.git
[submodule "aframe-resonance-audio-component"]
	path = aframe-resonance-audio-component
	url = https://github.com/AudioGroupCologne/aframe-resonance-audio-component.git
[submodule "aframe-super-keyboard"]
	path = aframe-super-keyboard
	url = https://github.com/AudioGroupCologne/aframe-super-keyboard
